# OS
.DS_Store

# IDE and local environment
/.idea/
/.vscode/
Homestead.json
Homestead.yaml

# Packages
/vendor/
/node_modules/
npm-debug.log
yarn-error.log

# Application
.env
.env.backup
/public/build/
# "storage" could be a symlink thus a file
/public/storage
/public/vendor/
/public/hot
/public/mix-manifest.json
/storage/*.key

# Tests
.phpunit.result.cache
.php_cs.cache

# Distribution
