@tailwind base;
@tailwind components;
@tailwind utilities;


/* navigation end */

/* about start */

.tag_center{
    justify-content: center;
    text-align: center;
 }

 .tag_center h6{
    font-size: 2rem;
    color: #006D7B;
 }
 .desc{
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
    color: var(--blue);
    margin-bottom: 3rem;
 }

 .about_section{
    position: relative;
    width: 100%;
    height: auto;
    padding: 100px 100px;
    display: flex;
    align-items: center;
 }

 .image_section{
    width: 54%;
    height: auto;
    border-radius: 4px;
    overflow: hidden;
 }
  
 .about_img{
    width: 100%;
    height: 40vh;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    
 }
 .content_section{
    position: absolute;
    width: 46%;
    height: auto;
    border-radius: 4px;
    right: 170px;
    background: var(--color-light);
    display: flex;
    align-items: flex-start;
    justify-content: start;
    row-gap: 1.1.rem;
    padding: 30px 30px 30px 120px;
    box-shadow: 5px 5px 10px rgba(68, 27, 5, 0.12);
    border: 1px solid rgba(143, 143, 143, .7);
 }
 .about_title{
    font-size: 1.9rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--color-light);
 }
 .about_desc{
    font-size: 1.1rem;
    line-height: 1.2rem;
    color: var(--color-primary);
    margin-bottom: 1.3rem;
 }

 .about_btn{
    border-radius: 4px !important;
    margin-bottom: 1.3rem;
   color: rgba(163, 15, 15, 0.84);
 }
/* about end */
