@tailwind base;
@tailwind components;
@tailwind utilities;


.search-bar{
    padding: 1rem;
   display: none;
   pointer-events: none;
    position: relative;
}
.search-bar #search{
    padding: .7rem;
    max-width: 100%;
}
/* navigation end */
.gallery{
    display: flex;
    align-items: center;
    justify-content: center;

}
.img-box{
    width: 100px;
    height: 500px;
    margin: 10px;
    border-radius: 50px;
    background-image: url('../images/a6.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    transform: width 0.5s, ease-out;
    background-color: var(--gradient-1);

}
.img-box:nth-child(2){
    background-image: url('../images/p1.jpg');
    background-size: cover;
    background-position: center;

}
.img-box:nth-child(3){
    background-image: url('../images/a2.jpg');
    background-size: cover;
    background-position: center;
}
.img-box:nth-child(4){
    background-image: url('../images/p3.jpg');
    background-size: cover;
    background-position: center;
}
.img-box:nth-child(5){
    background-image: url('../images/p1.jpg');
    background-size: cover;
    background-position: center;
}
.img-box:nth-child(6){
    background-image: url('../images/p2.jpg');
    background-size: cover;
    background-position: center;
}
.img-box h3{
    color: var(--color-light);
    position: absolute;
    bottom: 0;
    left: 40%;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;


}

.img-box:hover{
    width: 300px;
    cursor: pointer;
}
.img-box:hover h3{
    opacity: 1;
    bottom: 25px;

}

