@tailwind base;
@tailwind components;
@tailwind utilities;

/*main*/
/*sidebar start*/
.sidebar{
    position: fixed;
    left: 0;
    top: 10%;
    display: inline-block;
    height: 100%;
    background: transparent;
    z-index: 1000;

}

.sidebar .nav-links::-webkit-scrollbar{
    display: none;
}
.sidebar .nav-links{
    background: #0c0b1f;
    height: 100%;
    width: max-content;
    padding-top: 30px;
    overflow: auto;
   position: absolute;


}

.sidebar .nav-links li{
    position: relative;
    display: block;
    list-style: none;
   transition: all .4s ease;
   justify-content: center;
   margin-bottom: 1rem;
   overflow-y: auto;
   color: white;

}

.sidebar .nav-links li .icon-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 1rem;

}
.sidebar .nav-links li .icon-links .arrow{
    display: none;
}

.sidebar .nav-links li #ion{
    height: 1.5rem;
    min-width: 48px;
    text-align: center;
    line-height: 50px;
    color:var(--color-white);
    font-size: 20px;
    transition: all .3s ease;

}

.sidebar .nav-links li .showMenu i.arrow{
    transform: rotate(-180deg);
}
.sidebar .nav-links li a{
    text-decoration: none;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 1rem;
    font-size: 1.5rem;
    margin-top: 2rem;

}


.sidebar .nav-links li a .link-name{
   font-size: 18px;
   font-weight: 400;
   color: #fff;
   right: 0;
   align-items: center;
   justify-content: center;
   display: none;
}

.sidebar .nav-links li .sub-menu{
    padding: 10px 9px 14px 80px;
    margin-top: -10px;
    right: 0;
    display: none;

}

.sidebar .nav-links li.showMenu .sub-menu{
    display: block;
}

.sidebar .nav-links li .sub-menu a{
   color: #fff;
   font-size: 14px;
   padding: 5px 0;
   margin-right: 0;
   white-space: nowrap;
   opacity: .6;
   transition: all .3s ease;
}

.sidebar .nav-links li .sub-menu li a:hover{
   opacity: 1;
 }

.sidebar.close .nav-links li .sub-menu{
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 0 6px 6px 0;
  transition: all .4s ease;
  opacity: 0;
  pointer-events: none;
}

.sidebar.close .nav-links li:hover .sub-menu{
    top: 0;
    opacity: 1;
    pointer-events: auto;
    display: grid;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 999;

  }

.sidebar .nav-links li .sub-menu .link-name{
   display: none;
   }

.sidebar.close .nav-links li .sub-menu .link-name{
   font-size: 18px;
   opacity: 1;
    display: block;
  }

  .sidebar .nav-links li .sub-menu .blank{
        opacity: 1;
        pointer-events: auto;
        padding: 3px 20px 6px 16px;

    }

    .sidebar.close .nav-links li:hover .sub-menu .blank{
       top: 50%;
       transform: translateY(-50%);

    }


    .sidebar .profile-details{
        position: fixed;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;
        padding: 6px 0;

    }
    .sidebar .profile-details img{
        height: 50px;
        width: 50px;
        object-fit: cover;
        border-radius: 16px;
        margin: 0 14px 0 1px;
        border-radius: 50%;
        padding: 10px;


    }

    .sidebar .profile-details .profile-name,
    .sidebar .profile-details .job{
        color: white;
        font-size: 14px;
        font-weight: 500;
        margin-right: 1rem;
        display: none;

    }

    .sidebar .profile-details .job{
        font-size: 12px;

    }

    .sidebar .profile-details .profile-content{
        display: flex;
        align-items: center;
    }

    .sidebar .profile-details a{
        color: white;
        display: block;
        justify-content: center;
    }

    .sidebar .profile-details .name-job{
        align-items: center;
        justify-content: center;
    }

  .home{
        margin-top: 6rem;

    }
  .home .row{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap-reverse;
        gap: 1rem;



    }

    .home .row .content{
        flex: 1 1 35rem;
        text-align: center;


    }

    .home .row .image{
        flex: 1 1 32rem;
    }


    .home .row .image img{
       width:100%;



    }


    .home .row .content h3{
       margin-bottom: 1rem;
       font-size: 6rem;
       color: var(--blue);
       line-height: 1;

    }

    .home .row .content h3 span{
       color: var(--purple);
       display: flex;
       justify-content: center;
     }
     .count .box-container{
        position: relative;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
        gap: 1rem;
        align-items: flex-start;
     }

     .count .box-container .box{
        background-color: var(--color-dark);
        border-radius: .5rem;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
     }

     .count .box-container .box #ions{
       font-size: 4rem;
       color: white;
      z-index: 999;
     }

     .count .box-container .box .content h3{
        font-size: 2rem;
        color: var(--color-white);
        margin-bottom: .5rem;
      }


      .count .box-container .box .content p{
        font-size: 1.6rem;
        color: var(--color-white);

      }

/*about */

.about .row{
    position: relative;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;

}

.about .row .photo{
    flex:1 1 20rem;
}

.about .row .photo img{
    width: 100%;
}

.about .row .content{
    text-align: center;
    flex: 1 1 15rem;
}

.about .row .content h3{
    font-size: 3rem;
    color: var(--color-white);

}

.about .row .content p{
    padding: 1rem 0;
    line-height: 2;
    font-size: 1.6rem;
    color: white;
}

.courses .slide{
    max-width: 31%;
    max-height: 50vw;
    background-color: var(--color-dark);
    border-radius: .5rem;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    position: relative;

}

.courses .slide img{
    height: 20rem;
    width: 100%;

}

.courses .slide h3{
    margin: 1.5rem 0;
    font-size: 2rem;
    color: var(--color-white);
}

.courses .slide p{
    line-height: 2;
    font-size: 1.5rem;
    color: var(--color-gry);
}

.swiper-pagination-bullet{
    background-color: white;

}

.swiper-pagination-bullet-active{
    background-color:var(--purple);
}


.teacher .slide{
    position: relative;
    max-width: 31%;
    overflow: hidden;
    background-color: rgb(116, 26, 96);
   margin: 1rem;

}

.teacher .slide img{
    height: 20rem;
    width: 100%;
    object-fit: cover;
    border-radius: .5rem;
    display: flex;
}

.teacher .slide h3{
    margin-top: 1.5rem;
    font-size: 2rem;
    text-align: center;
    color: var(--color-white);
}

.teacher .slide .share{
    position: absolute;
    top: 1rem;
    left: -10rem;
    display: grid;
}
.teacher .slide:hover .share{
    left: 2rem;
    transition: all .2s ease;
}

.teacher .slide .share a{
    margin-top: .5rem;
    height:2rem;
    width: 2rem;
    line-height: 2rem;
    border-radius: .5rem;
    background: rgb(238, 238, 243);
    color: #0c0b1f;
    text-align: center;
    font-size: 1.5rem;
}

.teacher .slide .share a:hover{
    background-color: var(--purple);

}

.teacher .slide  p{
    display: block;
    color: var(--color-light);
    text-align: center;
}
/* reviews start*/
.reviews-slider .slide{
    max-width: 31%;
    max-height: fit-content;
    border-radius: .5rem;
    background-color: var(--color-black);
    padding: 2rem;
    margin: 1rem;
    user-select: none;

}

.reviews-slider .slide p{
    line-height: 2;
    font-size: 1.3rem;
    color: var(--color-light);
    height: 20vw;
    overflow: scroll;
}

.reviews-slider .slide .user{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-top: 1.5rem;
}

.reviews-slider .slide .user img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.reviews-slider .slide .user h3{
    font-size: 2rem;
    color: var(--color-white);
    margin-bottom: .5rem;

}

.reviews-slider .slide .user .stars a{
    font-size: 1rem;
    color: var(--color-success);
}


.contact .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.contact .row .image{
    flex: 1 1 30rem;
}

.contact .row .image img{
    width: 100%;
}

.contact .row form{
    flex:  1 1 30rem;
}

.contact .row form .box{
    width: 100%;
    margin-top: .5rem;
    margin-bottom: .5rem;
    border-radius: 2rem;
    background-color: var(--color-dark);
    font-size: 1.2rem;
    color: var(--color-white);
    padding: .8rem;
    text-transform: none;

}

.contact .row form #box{
    max-width: fit-content;
}
.contact .row form span{
    font-size: 1.6rem;
    color: var(--color-light);
}

.contact .row form .radio{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.contact .row form .radio label{
    font-size: 1.6rem;
    color: var(--color-light);
    margin-left: .5rem;
    cursor: pointer;

}

.contact .row form .radio #female{
    margin-left: 1.5rem;
}

.contact .row form .radio input{
  appearance: none;
    height: 2rem;
    width: 2rem;
    background-color: var(--color-white);
    cursor: pointer;
}
.contact .row form .radio input:checked{
    background-color: var(--purple);
    border-radius: 5rem;
}

.contact .row form .radio #female:checked ~ label[for="female"]{
    color: var(--purple);
}

.contact .row form .radio #male:checked ~ label[for="male"]{
    color: var(--purple);
}


.footer{
    text-align: center;
}

.footer .share #share{
    margin: 0 .4rem;
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    border-radius: 50%;
    font-size: 1.2rem;
    color: var(--color-white);
    background-color: var(--color-black);
}

.footer .share #share:hover{
    background-color: var(--purple);
}

.footer .credit{
    margin-top: 2.5rem;
    padding-top: 2.5rem;
    color: var(--color-white);
    font-size: 1.3rem;
    border-top: .1rem solid var(--color-danger);
}

.footer .credit span{
    color: var(--purple);
}


    @media (max-width:991px){

    }


    @media (max-width: 768px){
        .sidebar{
            top: 13%;
        }
        .sidebar .logo-details{
           display: none;


        }
        .sidebar .nav-links{
            width: max-content;
            display: block;



          }
        .sidebar .nav-links .link-name{
          display: none;


        }

        .sidebar .nav-links li i{
            display: none;
        }
        .sidebar .profile-details .name-job{
         display: none;
        }
        #side{
          display: block;

        }

        .heading{
            font-size: 2rem;
        }
    }

    @media (max-width:450px){
        html{
            font-size: 65%;
        }
    }
