@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes skeleton-loading {
    0% {
        background-position: -200%;
    }
    100% {
        background-position: 200%;
    }
}

.skeleton-loader {
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: skeleton-loading 1.5s infinite linear;
}
